<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    {% for gretting in grettings %}
      {% if gretting.author %}
        <b>{{ gretting.author.nickname() }}</b> wrote:
      {% else %}
       Una maldita persona anonima escribio:
      {% endif %}
      <blockquote>{{ gretting.content }}</blockquote>
    {% endfor %}

    <form action="/index?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Firmar"></div>
    </form>

    <hr>

    <form>Nombre del libro:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="Cambiar">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}